html {
  background: #ededed;
}
body {
  font-family: "Gentium Plus";
  background: #fff;
  max-width: 32em;
  padding: 6em;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 18px;
  box-shadow: 0 0 2px 2px #ddd;
}

img {
  max-width: 100%;
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


ul {
  list-style: circle;
}
li {
  margin-left: 3em;
}

.toclevel1 {

}
.toclevel2 {
  margin: 0 0 0 1em;
}

pre, p code, .monospace {
  font-family: "PragmataPro", "Courier New", "monospace";
  background: #1d203f;
  color: white;
  border-radius: 0.25em;
  font-size: 0.85em;
}

pre {
  display: inline-block;
  min-width: 10em;
  padding: 0.8em;
}
p code {
  padding: 0.4em;
  white-space: nowrap;
}

.openblock {
}
.openblock .content {
  border-left: 1em solid #ccd0f6;
  padding-left: 1em;
}
.openblock .content .title {
  font-weight: bold;
}

.sect1 {
  margin-top: 8em;
}
.sect2 {
  margin-top: 4em;
}
.sect3 {
  margin-top: 2em;
}

table {
  margin: 0 auto;
}
th {
  font-weight: bold;
  text-align: left;
}
th, td {
  padding: 0 0.5em;
  border: 1px solid #ccc;
}
